@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.app {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}
.app .main {
  width: 464px;
  background-color: white;
  border: 2px solid transparent;
  border-radius: 12px;
}
.heading {
  position: relative;
  bottom: 50px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.heading img {
  width: 80px;
}
.heading .title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-transform: uppercase;
  color: #f2f2f2;
}
.section {
  position: relative;
  bottom: 40px;
}
.section h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #2f527b;
}
.section ol {
  list-style-position: inside;
}
.section ol li {
  width: 400px;
  height: 65px;
  background: #ffffff;
  border: 2px solid rgba(96, 102, 208, 0.7);
  box-sizing: border-box;
  border-radius: 12px;
  margin: 20px auto;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #6066d0;
  padding-left: 3rem;
  padding-top: 8px;
  cursor: pointer;
}
.section ol li::marker {
  font-size: 20px;
}

.section ol li:hover {
  background-color: #f9a826;
  color: white;
}

.find {
  background-color: red;
}

.section .end {
  text-align: center;
  margin: 0 auto;
}

.next {
  float: right;
  margin-right: 30px;
  width: 116px;
  height: 46px;
  background: #f9a826;
  box-shadow: 0px 2px 4px rgba(252, 168, 47, 0.4);
  border-radius: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: white;
  outline: none;
}

/* result page */
.end h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 72px;
  color: #1d355d;
}

.end p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
}

.end p sup {
  color: green;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  top: 5px;
}

.end button {
  margin-top: 30px;
  width: 200px;
  height: 62px;
  border: 2px solid #1d355d;
  border-radius: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  outline: none;
}
footer{
  position: absolute;
  bottom:0;
  width: 100%;
}
footer p {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: white;
  text-align: center;
  position: relative;
  padding:25px;
}

img.flag {
  width: 84px;
  height: 54px;
  filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.1));
  border-radius: 4px;
  margin: 10px 25px;
}

@media only screen and (max-width:1024px) {
 
}


@media only screen and (max-width:500px) {
  .heading img{
    width: 80px;
  }
  .app .main{
    width: 330px;
  }
  .heading .title,.section h3,.end h3{
    font-size: 20px;
  }
  .section ol li{
    width: 300px;
    height: 55px;
    padding-top: 10px;
  }
  .section ol li,.next,.end p,.end button,.section ol li::marker{
    font-size: 14px;
  }
  
}