*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(./background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.app{
  width: 100vw; height:100vh;
  display:grid;
  place-items: center;
}
.app .main{
  width: 50vw;
  background-color: white;
  border: 2px solid transparent;
  border-radius: 12px;
}
.heading{
  position: relative;
  bottom: 30px;
  display: flex;
  justify-content:space-between;
}
.heading img{
  width: 100px;
}
.heading .title{
  text-transform: uppercase;
  color: white;
}